html
    head
        link(rel="stylesheet", href="/auth-proxy/static/js/bootstrap-3.3.5-dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/auth-proxy/static/js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href="/auth-proxy/static/js/style.css")

        title Error page.

    body
        .container
            .page-header
                h3 There was an error.
